body {
    background-image: url(../img/tictac.png);
}

.heading
{
    width:100%;
    text-align:center;
}

.ng-cloak {
    display: none;

}

h2,
p {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 5px 0;
    width: 100%;
    color: white;
    font-size: 70px !important;
    margin-top:20px;
}
p
{
    color:white;
    text-shadow:1px 1px 2px black;
    font-size:30px !important;
}

.gameinfo {
    color: #333;
    text-align:center;
    font-weight: bold;
}

.board {
    float: left;
    color: #333;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;    
    border-radius: 10px;
    font-weight: bold;
}

.Gameboard 
{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-top:40px; 
}

.board p
{
    text-align:center;
    color:black;
    margin-bottom:10px;
}



.square {
    background-color: transparent;
    border: 2px solid #fff;
    color: #2cb3b7;
    cursor: pointer;
    float: left;
    font-size: 60px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    padding: 20px;
    text-align: center;
    width: 100px;
    text-shadow: 0px 1px 3px black;
}

    .square.floatme {
        clear: both;
    }

button {
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    font-size: 30px;
    margin: 20px;
    border-top: 2px solid White;
    border-bottom: 2px solid White;
    border-left: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
    background-color: black;
}

button:hover
{
    color:#2cb3b7;
}

input {
    width: 30px;
}

.won {
    color: #f00;
}

